# **데이터 불러오기**

In [2]:
import pandas as pd
health = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/3학년-2학기 /아비혁/실습파일(csv)/health_data.csv")
display(health)

,기준년도,가입자일련번호,시도코드,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),...,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,치석,데이터공개일자
0,2020,1,36,M,9,165,60,72.1,1.2,1.5,...,1.1,21.0,27.0,21.0,No,No,0,NaN,NaN,12/29/2021
1,2020,2,27,F,13,150,65,81.0,0.8,0.8,...,0.5,18.0,15.0,15.0,No,No,0,NaN,NaN,12/29/2021
2,2020,3,11,F,12,155,55,70.0,0.6,0.7,...,0.7,27.0,25.0,7.0,No,No,0,NaN,NaN,12/29/2021
3,2020,4,31,M,13,160,70,90.8,1.0,1.0,...,1.2,65.0,97.0,72.0,No,No,1,0.0,0.0,12/29/2021
4,2020,5,41,F,12,155,50,75.2,1.5,1.2,...,0.7,18.0,17.0,14.0,No,No,0,NaN,NaN,12/29/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2020,9996,44,F,13,155,55,83.0,1.2,1.2,...,0.7,20.0,21.0,20.0,No,Yes,0,NaN,NaN,12/29/2021
9996,2020,9997,43,F,11,160,55,77.5,1.0,1.2,...,0.7,24.0,22.0,21.0,No,Yes,1,0.0,0.0,12/29/2021
9997,2020,9998,45,M,12,160,80,93.0,0.6,0.6,...,1.0,22.0,27.0,35.0,No,No,0,NaN,NaN,12/29/2021
9998,2020,9999,27,F,15,155,55,78.0,0.6,1.0,...,1.0,26.0,24.0,21.0,No,No,0,NaN,NaN,12/29/2021
9999,2020,10000,45,F,13,160,75,100.0,0.5,0.5,...,0.6,32.0,24.0,30.0,NotNow,Yes,0,NaN,NaN,12/29/2021

In [3]:
display(health)

,기준년도,가입자일련번호,시도코드,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),...,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,치석,데이터공개일자
0,2020,1,36,M,9,165,60,72.1,1.2,1.5,...,1.1,21.0,27.0,21.0,No,No,0,NaN,NaN,12/29/2021
1,2020,2,27,F,13,150,65,81.0,0.8,0.8,...,0.5,18.0,15.0,15.0,No,No,0,NaN,NaN,12/29/2021
2,2020,3,11,F,12,155,55,70.0,0.6,0.7,...,0.7,27.0,25.0,7.0,No,No,0,NaN,NaN,12/29/2021
3,2020,4,31,M,13,160,70,90.8,1.0,1.0,...,1.2,65.0,97.0,72.0,No,No,1,0.0,0.0,12/29/2021
4,2020,5,41,F,12,155,50,75.2,1.5,1.2,...,0.7,18.0,17.0,14.0,No,No,0,NaN,NaN,12/29/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2020,9996,44,F,13,155,55,83.0,1.2,1.2,...,0.7,20.0,21.0,20.0,No,Yes,0,NaN,NaN,12/29/2021
9996,2020,9997,43,F,11,160,55,77.5,1.0,1.2,...,0.7,24.0,22.0,21.0,No,Yes,1,0.0,0.0,12/29/2021
9997,2020,9998,45,M,12,160,80,93.0,0.6,0.6,...,1.0,22.0,27.0,35.0,No,No,0,NaN,NaN,12/29/2021
9998,2020,9999,27,F,15,155,55,78.0,0.6,1.0,...,1.0,26.0,24.0,21.0,No,No,0,NaN,NaN,12/29/2021
9999,2020,10000,45,F,13,160,75,100.0,0.5,0.5,...,0.6,32.0,24.0,30.0,NotNow,Yes,0,NaN,NaN,12/29/2021

# **데이터 EDA**

In [4]:
health.info() #데이터 프레임의 정보 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   기준년도         10000 non-null  int64
 1   가입자일련번호      10000 non-null  int64
 2   시도코드         10000 non-null  int64
 3   성별코드         10000 non-null  object
 4   연령대코드(5세단위)  10000 non-null  int64
 5   신장(5Cm단위)    10000 non-null  int64
 6   체중(5Kg 단위)   10000 non-null  int64
 7   허리둘레         10000 non-null  float64
 8   시력(좌)        10000 non-null  float64
 9   시력(우)        10000 non-null  float64
 10  청력(좌)        10000 non-null  int64
 11  청력(우)        10000 non-null  int64
 12  수축기혈압        9912 non-null   float64
 13  이완기혈압        9912 non-null   float64
 14  식전혈당(공복혈당)   9912 non-null   float64
 15  총콜레스테롤       4044 non-null   float64
 16  트리글리세라이드     4044 non-null   float64
 17  HDL콜레스테롤     4044 non-null   float64
 18  LDL콜레스테롤     3977 non-null   float64
 19  혈색소          9912 non-null   float64
 20  요단백          9861 non-null   float64
 21  혈청크레아티닌      9912 non-null   float64
 22  (혈청지오티)AST   9912 non-null   float64
 23  (혈청지오티)ALT   9912 non-null   float64
 24  감마지티피        9912 non-null   float64
 25  흡연상태         9998 non-null   object
 26  음주여부         9999 non-null   object
 27  구강검진수검여부     10000 non-null  int64
 28  치아우식증유무      3251 non-null   float64
 29  치석           3251 non-null   float64
 30  데이터공개일자      10000 non-null  object
dtypes: float64(18), int64(9), object(4)
memory usage: 2.4+ MB

In [5]:
health.describe() # 기술통계량 확인

,기준년도,가입자일련번호,시도코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),청력(좌),...,LDL콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,구강검진수검여부,치아우식증유무,치석
count,10000.0,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,...,3977.000000,9912.000000,9861.000000,9912.000000,9912.00000,9912.000000,9912.000000,10000.000000,3251.000000,3251.000000
mean,2020.0,5000.50000,34.100100,11.931400,160.983500,63.034500,82.366100,0.933750,0.936750,1.050500,...,116.263264,14.214255,1.119461,0.848484,27.58979,26.789851,38.098668,0.325100,0.175331,0.579514
std,0.0,2886.89568,12.394581,2.166048,9.211608,12.205294,9.561973,0.662057,0.641378,0.227936,...,37.829955,1.555386,0.489782,0.301012,17.88442,23.735687,58.184579,0.468436,0.380308,0.591269
min,2020.0,1.00000,11.000000,9.000000,130.000000,30.000000,53.000000,0.100000,0.100000,1.000000,...,13.000000,5.100000,1.000000,0.050000,3.00000,2.000000,3.000000,0.000000,0.000000,0.000000
25%,2020.0,2500.75000,27.000000,10.000000,155.000000,55.000000,76.000000,0.700000,0.700000,1.000000,...,89.000000,13.200000,1.000000,0.700000,20.00000,16.000000,16.000000,0.000000,0.000000,0.000000
50%,2020.0,5000.50000,41.000000,12.000000,160.000000,60.000000,82.000000,0.900000,0.900000,1.000000,...,115.000000,14.200000,1.000000,0.800000,24.00000,21.000000,24.000000,0.000000,0.000000,1.000000
75%,2020.0,7500.25000,44.000000,13.000000,170.000000,70.000000,88.900000,1.200000,1.200000,1.000000,...,141.000000,15.300000,1.000000,1.000000,30.00000,31.000000,39.000000,1.000000,0.000000,1.000000
max,2020.0,10000.00000,49.000000,18.000000,195.000000,130.000000,134.000000,9.900000,9.900000,3.000000,...,297.000000,20.000000,6.000000,9.200000,692.00000,1146.000000,2322.000000,1.000000,1.000000,2.000000

In [6]:
health.head() #위에서 5개 행만 보여줌

,기준년도,가입자일련번호,시도코드,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),...,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,치석,데이터공개일자
0,2020,1,36,M,9,165,60,72.1,1.2,1.5,...,1.1,21.0,27.0,21.0,No,No,0,NaN,NaN,12/29/2021
1,2020,2,27,F,13,150,65,81.0,0.8,0.8,...,0.5,18.0,15.0,15.0,No,No,0,NaN,NaN,12/29/2021
2,2020,3,11,F,12,155,55,70.0,0.6,0.7,...,0.7,27.0,25.0,7.0,No,No,0,NaN,NaN,12/29/2021
3,2020,4,31,M,13,160,70,90.8,1.0,1.0,...,1.2,65.0,97.0,72.0,No,No,1,0.0,0.0,12/29/2021
4,2020,5,41,F,12,155,50,75.2,1.5,1.2,...,0.7,18.0,17.0,14.0,No,No,0,NaN,NaN,12/29/2021

In [7]:
health.tail() #뒤에서 5개 행만 보여줌

,기준년도,가입자일련번호,시도코드,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),...,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,치석,데이터공개일자
9995,2020,9996,44,F,13,155,55,83.0,1.2,1.2,...,0.7,20.0,21.0,20.0,No,Yes,0,NaN,NaN,12/29/2021
9996,2020,9997,43,F,11,160,55,77.5,1.0,1.2,...,0.7,24.0,22.0,21.0,No,Yes,1,0.0,0.0,12/29/2021
9997,2020,9998,45,M,12,160,80,93.0,0.6,0.6,...,1.0,22.0,27.0,35.0,No,No,0,NaN,NaN,12/29/2021
9998,2020,9999,27,F,15,155,55,78.0,0.6,1.0,...,1.0,26.0,24.0,21.0,No,No,0,NaN,NaN,12/29/2021
9999,2020,10000,45,F,13,160,75,100.0,0.5,0.5,...,0.6,32.0,24.0,30.0,NotNow,Yes,0,NaN,NaN,12/29/2021

# **데이터전처리**
- 변수 값 변경하기
- 변수 명 변경하기
- one-hot-encoding
- 결측치 보간 및 컬럼 추가(새로운 변수 추가)

**숫자로 표현되어 있는 시도코드와 연령대코드의 값 변경**  
**(한글깨짐을 방지하기 위해 값을 영어로 표현)**

In [8]:
health['시도코드'] = health['시도코드'].replace([11,26,27,28,29,30,31,36,41,42,43,44,45,46,47,48,49], ['Seoul', 'Busan', 'Daegu', 'Incheon', 'Gangju', 'Daejeon', 'Ulsan', 'Sejong', 'Gyeonggido', 'Gangwondo', 'Chungcheong bukdo', 'Chungcheong namdo', 'Jeolla bukdo', 'Jeolla namdo', 'Gyeongsang bukdo', 'Gyeongsang namdo', 'Jeju'])

In [9]:
x1=health[['시도코드']]
display(x1.head())

         시도코드
0      Sejong
1       Daegu
2       Seoul
3       Ulsan
4  Gyeonggido

In [10]:
display(health)

,기준년도,가입자일련번호,시도코드,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),...,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,치석,데이터공개일자
0,2020,1,Sejong,M,9,165,60,72.1,1.2,1.5,...,1.1,21.0,27.0,21.0,No,No,0,NaN,NaN,12/29/2021
1,2020,2,Daegu,F,13,150,65,81.0,0.8,0.8,...,0.5,18.0,15.0,15.0,No,No,0,NaN,NaN,12/29/2021
2,2020,3,Seoul,F,12,155,55,70.0,0.6,0.7,...,0.7,27.0,25.0,7.0,No,No,0,NaN,NaN,12/29/2021
3,2020,4,Ulsan,M,13,160,70,90.8,1.0,1.0,...,1.2,65.0,97.0,72.0,No,No,1,0.0,0.0,12/29/2021
4,2020,5,Gyeonggido,F,12,155,50,75.2,1.5,1.2,...,0.7,18.0,17.0,14.0,No,No,0,NaN,NaN,12/29/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2020,9996,Chungcheong namdo,F,13,155,55,83.0,1.2,1.2,...,0.7,20.0,21.0,20.0,No,Yes,0,NaN,NaN,12/29/2021
9996,2020,9997,Chungcheong bukdo,F,11,160,55,77.5,1.0,1.2,...,0.7,24.0,22.0,21.0,No,Yes,1,0.0,0.0,12/29/2021
9997,2020,9998,Jeolla bukdo,M,12,160,80,93.0,0.6,0.6,...,1.0,22.0,27.0,35.0,No,No,0,NaN,NaN,12/29/2021
9998,2020,9999,Daegu,F,15,155,55,78.0,0.6,1.0,...,1.0,26.0,24.0,21.0,No,No,0,NaN,NaN,12/29/2021
9999,2020,10000,Jeolla bukdo,F,13,160,75,100.0,0.5,0.5,...,0.6,32.0,24.0,30.0,NotNow,Yes,0,NaN,NaN,12/29/2021

In [11]:
health['연령대코드(5세단위)'] = health['연령대코드(5세단위)'].replace([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18], ['0~4age', '5~9age', '10~14age', '15~19age', '20~24age', '25~29age', '30~34age', '35세~39age', '40~44age', '45~49age', '50~54age', '55~59age', '60~64age', '65~69age', '70~74age', '75~79age', '80~84age', '85age+'])

In [12]:
display(health)

,기준년도,가입자일련번호,시도코드,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),...,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,치석,데이터공개일자
0,2020,1,Sejong,M,40~44age,165,60,72.1,1.2,1.5,...,1.1,21.0,27.0,21.0,No,No,0,NaN,NaN,12/29/2021
1,2020,2,Daegu,F,60~64age,150,65,81.0,0.8,0.8,...,0.5,18.0,15.0,15.0,No,No,0,NaN,NaN,12/29/2021
2,2020,3,Seoul,F,55~59age,155,55,70.0,0.6,0.7,...,0.7,27.0,25.0,7.0,No,No,0,NaN,NaN,12/29/2021
3,2020,4,Ulsan,M,60~64age,160,70,90.8,1.0,1.0,...,1.2,65.0,97.0,72.0,No,No,1,0.0,0.0,12/29/2021
4,2020,5,Gyeonggido,F,55~59age,155,50,75.2,1.5,1.2,...,0.7,18.0,17.0,14.0,No,No,0,NaN,NaN,12/29/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2020,9996,Chungcheong namdo,F,60~64age,155,55,83.0,1.2,1.2,...,0.7,20.0,21.0,20.0,No,Yes,0,NaN,NaN,12/29/2021
9996,2020,9997,Chungcheong bukdo,F,50~54age,160,55,77.5,1.0,1.2,...,0.7,24.0,22.0,21.0,No,Yes,1,0.0,0.0,12/29/2021
9997,2020,9998,Jeolla bukdo,M,55~59age,160,80,93.0,0.6,0.6,...,1.0,22.0,27.0,35.0,No,No,0,NaN,NaN,12/29/2021
9998,2020,9999,Daegu,F,70~74age,155,55,78.0,0.6,1.0,...,1.0,26.0,24.0,21.0,No,No,0,NaN,NaN,12/29/2021
9999,2020,10000,Jeolla bukdo,F,60~64age,160,75,100.0,0.5,0.5,...,0.6,32.0,24.0,30.0,NotNow,Yes,0,NaN,NaN,12/29/2021

**시각화에 이용할 변수를 영어로 변경**  
**(추후 시각화할 때 한글 깨짐 방지하기 위해 영어로 변경)**

In [13]:
health.rename(columns={'시도코드':'City Name'}, inplace=True)
health.rename(columns={'연령대코드(5세단위)':'Age Name'}, inplace=True)
health.rename(columns={'신장(5Cm단위)':'height'}, inplace=True)
health.rename(columns={'체중(5Kg 단위)':'weight'}, inplace=True)
health.rename(columns={'수축기혈압':'systolic blood pressure'}, inplace=True)
health.rename(columns={'이완기혈압':'diastolic blood pressure'}, inplace=True)
health.rename(columns={'치아우식증유무':'cavity'}, inplace=True)
health.rename(columns={'흡연상태':'smoking status'}, inplace=True)
display(health)

,기준년도,가입자일련번호,City Name,성별코드,Age Name,height,weight,허리둘레,시력(좌),시력(우),...,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,smoking status,음주여부,구강검진수검여부,cavity,치석,데이터공개일자
0,2020,1,Sejong,M,40~44age,165,60,72.1,1.2,1.5,...,1.1,21.0,27.0,21.0,No,No,0,NaN,NaN,12/29/2021
1,2020,2,Daegu,F,60~64age,150,65,81.0,0.8,0.8,...,0.5,18.0,15.0,15.0,No,No,0,NaN,NaN,12/29/2021
2,2020,3,Seoul,F,55~59age,155,55,70.0,0.6,0.7,...,0.7,27.0,25.0,7.0,No,No,0,NaN,NaN,12/29/2021
3,2020,4,Ulsan,M,60~64age,160,70,90.8,1.0,1.0,...,1.2,65.0,97.0,72.0,No,No,1,0.0,0.0,12/29/2021
4,2020,5,Gyeonggido,F,55~59age,155,50,75.2,1.5,1.2,...,0.7,18.0,17.0,14.0,No,No,0,NaN,NaN,12/29/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2020,9996,Chungcheong namdo,F,60~64age,155,55,83.0,1.2,1.2,...,0.7,20.0,21.0,20.0,No,Yes,0,NaN,NaN,12/29/2021
9996,2020,9997,Chungcheong bukdo,F,50~54age,160,55,77.5,1.0,1.2,...,0.7,24.0,22.0,21.0,No,Yes,1,0.0,0.0,12/29/2021
9997,2020,9998,Jeolla bukdo,M,55~59age,160,80,93.0,0.6,0.6,...,1.0,22.0,27.0,35.0,No,No,0,NaN,NaN,12/29/2021
9998,2020,9999,Daegu,F,70~74age,155,55,78.0,0.6,1.0,...,1.0,26.0,24.0,21.0,No,No,0,NaN,NaN,12/29/2021
9999,2020,10000,Jeolla bukdo,F,60~64age,160,75,100.0,0.5,0.5,...,0.6,32.0,24.0,30.0,NotNow,Yes,0,NaN,NaN,12/29/2021

In [14]:
health.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   기준년도                      10000 non-null  int64
 1   가입자일련번호                   10000 non-null  int64
 2   City Name                 10000 non-null  object
 3   성별코드                      10000 non-null  object
 4   Age Name                  10000 non-null  object
 5   height                    10000 non-null  int64
 6   weight                    10000 non-null  int64
 7   허리둘레                      10000 non-null  float64
 8   시력(좌)                     10000 non-null  float64
 9   시력(우)                     10000 non-null  float64
 10  청력(좌)                     10000 non-null  int64
 11  청력(우)                     10000 non-null  int64
 12  systolic blood pressure   9912 non-null   float64
 13  diastolic blood pressure  9912 non-null   float64
 14  식전혈당(공복혈당)                9912 non-null   float64
 15  총콜레스테롤                    4044 non-null   float64
 16  트리글리세라이드                  4044 non-null   float64
 17  HDL콜레스테롤                  4044 non-null   float64
 18  LDL콜레스테롤                  3977 non-null   float64
 19  혈색소                       9912 non-null   float64
 20  요단백                       9861 non-null   float64
 21  혈청크레아티닌                   9912 non-null   float64
 22  (혈청지오티)AST                9912 non-null   float64
 23  (혈청지오티)ALT                9912 non-null   float64
 24  감마지티피                     9912 non-null   float64
 25  smoking status            9998 non-null   object
 26  음주여부                      9999 non-null   object
 27  구강검진수검여부                  10000 non-null  int64
 28  cavity                    3251 non-null   float64
 29  치석                        3251 non-null   float64
 30  데이터공개일자                   10000 non-null  object
dtypes: float64(18), int64(7), object(6)
memory usage: 2.4+ MB

**음주여부, 금연여부, 성별코드 one-hot-encoding 실행**

In [15]:
x1=health[['음주여부']]
x2=health[['smoking status']]
x3=health[['성별코드']]

In [16]:
x1_dum=pd.get_dummies(x1)
x2_dum=pd.get_dummies(x2)
x3_dum=pd.get_dummies(x3)

In [17]:
display(x1_dum)

      음주여부_No  음주여부_Yes
0           1         0
1           1         0
2           1         0
3           1         0
4           1         0
...       ...       ...
9995        0         1
9996        0         1
9997        1         0
9998        1         0
9999        0         1

[10000 rows x 2 columns]

In [18]:
display(x2_dum)

      smoking status_No  smoking status_NotNow  smoking status_Yes
0                     1                      0                   0
1                     1                      0                   0
2                     1                      0                   0
3                     1                      0                   0
4                     1                      0                   0
...                 ...                    ...                 ...
9995                  1                      0                   0
9996                  1                      0                   0
9997                  1                      0                   0
9998                  1                      0                   0
9999                  0                      1                   0

[10000 rows x 3 columns]

In [19]:
display(x3_dum)

      성별코드_F  성별코드_M
0          0       1
1          1       0
2          1       0
3          0       1
4          1       0
...      ...     ...
9995       1       0
9996       1       0
9997       0       1
9998       1       0
9999       1       0

[10000 rows x 2 columns]

**LDL콜레스테롤 결측치값을 전체 LDL콜레스테롤 평균값으로 보간하기**

In [20]:
health['LDL콜레스테롤']= health['LDL콜레스테롤'].fillna(health['LDL콜레스테롤'].mean())

단, 결측치가 많이 존재하는 연령대일 경우 해당 결측치 값을 전체 LDL콜레스테롤 평균값으로 보간했기 때문에 추후에 구할 연령별콜레스테롤의 값이 상대적으로 커진다는 한계가 존재한다.

**연령별로 LDL콜레스테롤 평균값 구해서 health 데이터에 컬럼으로 추가하기**

In [21]:
health['연령별콜레스테롤']=health.groupby(['Age Name'])['LDL콜레스테롤'].transform('mean')
display(health)

,기준년도,가입자일련번호,City Name,성별코드,Age Name,height,weight,허리둘레,시력(좌),시력(우),...,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,smoking status,음주여부,구강검진수검여부,cavity,치석,데이터공개일자,연령별콜레스테롤
0,2020,1,Sejong,M,40~44age,165,60,72.1,1.2,1.5,...,21.0,27.0,21.0,No,No,0,NaN,NaN,12/29/2021,119.066324
1,2020,2,Daegu,F,60~64age,150,65,81.0,0.8,0.8,...,18.0,15.0,15.0,No,No,0,NaN,NaN,12/29/2021,116.663806
2,2020,3,Seoul,F,55~59age,155,55,70.0,0.6,0.7,...,27.0,25.0,7.0,No,No,0,NaN,NaN,12/29/2021,118.173708
3,2020,4,Ulsan,M,60~64age,160,70,90.8,1.0,1.0,...,65.0,97.0,72.0,No,No,1,0.0,0.0,12/29/2021,116.663806
4,2020,5,Gyeonggido,F,55~59age,155,50,75.2,1.5,1.2,...,18.0,17.0,14.0,No,No,0,NaN,NaN,12/29/2021,118.173708
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2020,9996,Chungcheong namdo,F,60~64age,155,55,83.0,1.2,1.2,...,20.0,21.0,20.0,No,Yes,0,NaN,NaN,12/29/2021,116.663806
9996,2020,9997,Chungcheong bukdo,F,50~54age,160,55,77.5,1.0,1.2,...,24.0,22.0,21.0,No,Yes,1,0.0,0.0,12/29/2021,117.469048
9997,2020,9998,Jeolla bukdo,M,55~59age,160,80,93.0,0.6,0.6,...,22.0,27.0,35.0,No,No,0,NaN,NaN,12/29/2021,118.173708
9998,2020,9999,Daegu,F,70~74age,155,55,78.0,0.6,1.0,...,26.0,24.0,21.0,No,No,0,NaN,NaN,12/29/2021,111.141076
9999,2020,10000,Jeolla bukdo,F,60~64age,160,75,100.0,0.5,0.5,...,32.0,24.0,30.0,NotNow,Yes,0,NaN,NaN,12/29/2021,116.663806

**비만도(체중/키의제곱) 변수 추가**

In [22]:
health['BMI']=(health['weight']/health['height']**2)*10000
display(health)

,기준년도,가입자일련번호,City Name,성별코드,Age Name,height,weight,허리둘레,시력(좌),시력(우),...,(혈청지오티)ALT,감마지티피,smoking status,음주여부,구강검진수검여부,cavity,치석,데이터공개일자,연령별콜레스테롤,BMI
0,2020,1,Sejong,M,40~44age,165,60,72.1,1.2,1.5,...,27.0,21.0,No,No,0,NaN,NaN,12/29/2021,119.066324,22.038567
1,2020,2,Daegu,F,60~64age,150,65,81.0,0.8,0.8,...,15.0,15.0,No,No,0,NaN,NaN,12/29/2021,116.663806,28.888889
2,2020,3,Seoul,F,55~59age,155,55,70.0,0.6,0.7,...,25.0,7.0,No,No,0,NaN,NaN,12/29/2021,118.173708,22.892820
3,2020,4,Ulsan,M,60~64age,160,70,90.8,1.0,1.0,...,97.0,72.0,No,No,1,0.0,0.0,12/29/2021,116.663806,27.343750
4,2020,5,Gyeonggido,F,55~59age,155,50,75.2,1.5,1.2,...,17.0,14.0,No,No,0,NaN,NaN,12/29/2021,118.173708,20.811655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2020,9996,Chungcheong namdo,F,60~64age,155,55,83.0,1.2,1.2,...,21.0,20.0,No,Yes,0,NaN,NaN,12/29/2021,116.663806,22.892820
9996,2020,9997,Chungcheong bukdo,F,50~54age,160,55,77.5,1.0,1.2,...,22.0,21.0,No,Yes,1,0.0,0.0,12/29/2021,117.469048,21.484375
9997,2020,9998,Jeolla bukdo,M,55~59age,160,80,93.0,0.6,0.6,...,27.0,35.0,No,No,0,NaN,NaN,12/29/2021,118.173708,31.250000
9998,2020,9999,Daegu,F,70~74age,155,55,78.0,0.6,1.0,...,24.0,21.0,No,No,0,NaN,NaN,12/29/2021,111.141076,22.892820
9999,2020,10000,Jeolla bukdo,F,60~64age,160,75,100.0,0.5,0.5,...,24.0,30.0,NotNow,Yes,0,NaN,NaN,12/29/2021,116.663806,29.296875

# **여러 기능을 활용해 데이터 살펴보기**

In [26]:
health['허리둘레'].shape  # 특정 변수 허리둘레의 shape 확인

(10000,)

In [28]:
health[['weight', 'BMI']] #여러 개 열 선택

      weight        BMI
0         60  22.038567
1         65  28.888889
2         55  22.892820
3         70  27.343750
4         50  20.811655
...      ...        ...
9995      55  22.892820
9996      55  21.484375
9997      80  31.250000
9998      55  22.892820
9999      75  29.296875

[10000 rows x 2 columns]

In [30]:
health[health['BMI']>25] #BMI가 25이상인 행들만 추출----> 비만

,기준년도,가입자일련번호,City Name,성별코드,Age Name,height,weight,허리둘레,시력(좌),시력(우),...,(혈청지오티)ALT,감마지티피,smoking status,음주여부,구강검진수검여부,cavity,치석,데이터공개일자,연령별콜레스테롤,BMI
1,2020,2,Daegu,F,60~64age,150,65,81.0,0.8,0.8,...,15.0,15.0,No,No,0,NaN,NaN,12/29/2021,116.663806,28.888889
3,2020,4,Ulsan,M,60~64age,160,70,90.8,1.0,1.0,...,97.0,72.0,No,No,1,0.0,0.0,12/29/2021,116.663806,27.343750
6,2020,7,Chungcheong namdo,M,40~44age,165,80,93.0,0.8,0.7,...,20.0,35.0,Yes,Yes,1,0.0,1.0,12/29/2021,119.066324,29.384757
7,2020,8,Gyeonggido,M,60~64age,160,65,92.0,0.5,0.5,...,17.0,19.0,Yes,No,1,0.0,2.0,12/29/2021,116.663806,25.390625
12,2020,13,Gyeonggido,M,65~69age,175,80,90.0,0.8,0.7,...,21.0,41.0,Yes,Yes,1,0.0,0.0,12/29/2021,112.611262,26.122449
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9983,2020,9984,Incheon,M,55~59age,160,65,79.0,1.5,1.2,...,21.0,13.0,NotNow,Yes,1,0.0,0.0,12/29/2021,118.173708,25.390625
9985,2020,9986,Chungcheong namdo,F,65~69age,150,70,96.0,0.4,0.7,...,24.0,15.0,No,No,0,NaN,NaN,12/29/2021,112.611262,31.111111
9989,2020,9990,Gyeonggido,F,75~79age,145,70,94.0,0.7,0.5,...,15.0,11.0,No,No,0,NaN,NaN,12/29/2021,110.770827,33.293698
9997,2020,9998,Jeolla bukdo,M,55~59age,160,80,93.0,0.6,0.6,...,27.0,35.0,No,No,0,NaN,NaN,12/29/2021,118.173708,31.250000
9999,2020,10000,Jeolla bukdo,F,60~64age,160,75,100.0,0.5,0.5,...,24.0,30.0,NotNow,Yes,0,NaN,NaN,12/29/2021,116.663806,29.296875

In [31]:
health[health['City Name'].isin(['Daegu'])] # 사는 곳이 대구 지역인 행들만 추출

,기준년도,가입자일련번호,City Name,성별코드,Age Name,height,weight,허리둘레,시력(좌),시력(우),...,(혈청지오티)ALT,감마지티피,smoking status,음주여부,구강검진수검여부,cavity,치석,데이터공개일자,연령별콜레스테롤,BMI
1,2020,2,Daegu,F,60~64age,150,65,81.0,0.8,0.8,...,15.0,15.0,No,No,0,NaN,NaN,12/29/2021,116.663806,28.888889
5,2020,6,Daegu,M,40~44age,185,85,94.0,1.2,1.2,...,32.0,26.0,Yes,Yes,0,NaN,NaN,12/29/2021,119.066324,24.835646
19,2020,20,Daegu,M,60~64age,170,55,76.0,0.8,0.8,...,12.0,35.0,No,No,0,NaN,NaN,12/29/2021,116.663806,19.031142
31,2020,32,Daegu,F,40~44age,155,60,67.0,1.2,1.0,...,66.0,30.0,No,Yes,0,NaN,NaN,12/29/2021,119.066324,24.973985
52,2020,53,Daegu,M,45~49age,165,80,97.0,1.5,1.5,...,35.0,46.0,Yes,Yes,0,NaN,NaN,12/29/2021,117.268382,29.384757
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9951,2020,9952,Daegu,M,50~54age,170,65,83.0,1.2,1.5,...,34.0,89.0,NotNow,Yes,1,0.0,0.0,12/29/2021,117.469048,22.491349
9964,2020,9965,Daegu,F,50~54age,160,50,71.0,0.8,0.7,...,45.0,23.0,No,Yes,0,NaN,NaN,12/29/2021,117.469048,19.531250
9971,2020,9972,Daegu,F,75~79age,140,40,73.3,0.4,0.5,...,14.0,16.0,No,No,0,NaN,NaN,12/29/2021,110.770827,20.408163
9986,2020,9987,Daegu,F,45~49age,160,60,72.0,0.8,1.0,...,23.0,12.0,No,No,0,NaN,NaN,12/29/2021,117.268382,23.437500
9998,2020,9999,Daegu,F,70~74age,155,55,78.0,0.6,1.0,...,24.0,21.0,No,No,0,NaN,NaN,12/29/2021,111.141076,22.892820

In [32]:
health[health['height'].notna()] #키가 결측치가 아닌 값만 포함

,기준년도,가입자일련번호,City Name,성별코드,Age Name,height,weight,허리둘레,시력(좌),시력(우),...,(혈청지오티)ALT,감마지티피,smoking status,음주여부,구강검진수검여부,cavity,치석,데이터공개일자,연령별콜레스테롤,BMI
0,2020,1,Sejong,M,40~44age,165,60,72.1,1.2,1.5,...,27.0,21.0,No,No,0,NaN,NaN,12/29/2021,119.066324,22.038567
1,2020,2,Daegu,F,60~64age,150,65,81.0,0.8,0.8,...,15.0,15.0,No,No,0,NaN,NaN,12/29/2021,116.663806,28.888889
2,2020,3,Seoul,F,55~59age,155,55,70.0,0.6,0.7,...,25.0,7.0,No,No,0,NaN,NaN,12/29/2021,118.173708,22.892820
3,2020,4,Ulsan,M,60~64age,160,70,90.8,1.0,1.0,...,97.0,72.0,No,No,1,0.0,0.0,12/29/2021,116.663806,27.343750
4,2020,5,Gyeonggido,F,55~59age,155,50,75.2,1.5,1.2,...,17.0,14.0,No,No,0,NaN,NaN,12/29/2021,118.173708,20.811655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2020,9996,Chungcheong namdo,F,60~64age,155,55,83.0,1.2,1.2,...,21.0,20.0,No,Yes,0,NaN,NaN,12/29/2021,116.663806,22.892820
9996,2020,9997,Chungcheong bukdo,F,50~54age,160,55,77.5,1.0,1.2,...,22.0,21.0,No,Yes,1,0.0,0.0,12/29/2021,117.469048,21.484375
9997,2020,9998,Jeolla bukdo,M,55~59age,160,80,93.0,0.6,0.6,...,27.0,35.0,No,No,0,NaN,NaN,12/29/2021,118.173708,31.250000
9998,2020,9999,Daegu,F,70~74age,155,55,78.0,0.6,1.0,...,24.0,21.0,No,No,0,NaN,NaN,12/29/2021,111.141076,22.892820
9999,2020,10000,Jeolla bukdo,F,60~64age,160,75,100.0,0.5,0.5,...,24.0,30.0,NotNow,Yes,0,NaN,NaN,12/29/2021,116.663806,29.296875

In [34]:
health[health['치석'].isnull()]  #치석의 값이 결측치 인 행들만 추출

,기준년도,가입자일련번호,City Name,성별코드,Age Name,height,weight,허리둘레,시력(좌),시력(우),...,(혈청지오티)ALT,감마지티피,smoking status,음주여부,구강검진수검여부,cavity,치석,데이터공개일자,연령별콜레스테롤,BMI
0,2020,1,Sejong,M,40~44age,165,60,72.1,1.2,1.5,...,27.0,21.0,No,No,0,NaN,NaN,12/29/2021,119.066324,22.038567
1,2020,2,Daegu,F,60~64age,150,65,81.0,0.8,0.8,...,15.0,15.0,No,No,0,NaN,NaN,12/29/2021,116.663806,28.888889
2,2020,3,Seoul,F,55~59age,155,55,70.0,0.6,0.7,...,25.0,7.0,No,No,0,NaN,NaN,12/29/2021,118.173708,22.892820
4,2020,5,Gyeonggido,F,55~59age,155,50,75.2,1.5,1.2,...,17.0,14.0,No,No,0,NaN,NaN,12/29/2021,118.173708,20.811655
5,2020,6,Daegu,M,40~44age,185,85,94.0,1.2,1.2,...,32.0,26.0,Yes,Yes,0,NaN,NaN,12/29/2021,119.066324,24.835646
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2020,9995,Gyeonggido,M,80~84age,150,55,95.0,0.5,0.8,...,21.0,18.0,No,No,0,NaN,NaN,12/29/2021,106.749688,24.444444
9995,2020,9996,Chungcheong namdo,F,60~64age,155,55,83.0,1.2,1.2,...,21.0,20.0,No,Yes,0,NaN,NaN,12/29/2021,116.663806,22.892820
9997,2020,9998,Jeolla bukdo,M,55~59age,160,80,93.0,0.6,0.6,...,27.0,35.0,No,No,0,NaN,NaN,12/29/2021,118.173708,31.250000
9998,2020,9999,Daegu,F,70~74age,155,55,78.0,0.6,1.0,...,24.0,21.0,No,No,0,NaN,NaN,12/29/2021,111.141076,22.892820
9999,2020,10000,Jeolla bukdo,F,60~64age,160,75,100.0,0.5,0.5,...,24.0,30.0,NotNow,Yes,0,NaN,NaN,12/29/2021,116.663806,29.296875

In [36]:
health.isnull().sum() #결측치가 있는 열과 행이 몇 개인지 확인

기준년도                           0
가입자일련번호                        0
City Name                      0
성별코드                           0
Age Name                       0
height                         0
weight                         0
허리둘레                           0
시력(좌)                          0
시력(우)                          0
청력(좌)                          0
청력(우)                          0
systolic blood pressure       88
diastolic blood pressure      88
식전혈당(공복혈당)                    88
총콜레스테롤                      5956
트리글리세라이드                    5956
HDL콜레스테롤                    5956
LDL콜레스테롤                       0
혈색소                           88
요단백                          139
혈청크레아티닌                       88
(혈청지오티)AST                    88
(혈청지오티)ALT                    88
감마지티피                         88
smoking status                 2
음주여부                           1
구강검진수검여부                       0
cavity                      6749
치석                          6749
데이터공개일자                        0
연령별콜레스테롤                       0
BMI                            0
dtype: int64